<style>
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.2);
        color: white;
    }
</style>

<footer class="bg-dark text-center text-lg-start footer">
  <!-- Copyright -->
  <div class="text-center p-3">
    <b>Copyright 2022 ©Suraj Pai K</b>
  </div>
  <!-- Copyright -->
</footer>