<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand ms-5" href="/posts"><%= image_tag("iBlog.jpeg", :size => "60x50", :style => "border-radius:10px;") %></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active ms-3" aria-current="page" href="/posts">MY POSTS</a>
        </li>
        <li class="nav-item ms-3">
          <%= button_to "LOG OUT", destroy_author_session_path, :method => :delete, class: "btn btn-danger" %>
        </li>
      </ul>
    </div>
  </div>
</nav>