<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <%# <a class="navbar-brand ms-5" href="/">iBlog</a> %>
    <a class="navbar-brand ms-5" href=""><%= image_tag("iBlog.jpeg", :size => "60x50", :style => "border-radius:10px;") %></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active ms-5" aria-current="page" href="/">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link ms-3" aria-current="page" href="/authors/sign_up">SIGN UP</a>
        </li>
        <li class="nav-item ms-3">
          <a class="nav-link" aria-current="page" href="/authors/sign_in">LOG IN</a>
        </li>
      </ul>
      <form class="d-flex me-5">
        <input class="form-control me-3" type="search" placeholder="Search" aria-label="Search" name="key" autocomplete="off">
        <button class="btn btn-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>