<style>
  img{
      max-width:90%;
  }
  .image{
    text-align: center;
  }
  .card-body{
    background-color: #F5F5F5;
  }
</style>

<br>
<br>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body pt-2">
        <% flag = true %>
        <% @readPost.elements.each do |element| %>
          <% if element.persisted? %>
            <% if flag %>
              <div class="card-header text-end">
                <b>Published</b> <%= time_ago_in_words(@readPost.created_at) unless @readPost.created_at.blank? %> ago
              </div>
              <% flag = false %>
            <% end %>
            <% if element.paragraph? %>
              <div class="mb-4 p-3 paragraph">
                <div>
                  <% if element.content.present? %>
                    <%= element.content %>
                  <% end %>
                </div>
              </div>
            <% elsif element.image? %>
              <div class="mb-4 p-3 image">
                <% if element.image.present? %>
                  <div>
                    <%= image_tag(element.image) %>
                  </div>
                <% end %>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
